---
import Layout from '../layouts/Layout.astro';
const title = 'About Me';
const skills = [
	{ name: "HTML", icon:'icon-[devicon--html5]'}, 
	{ name: "CSS", icon: 'icon-[devicon--css3]'},
	{ name: "SCSS", icon: 'icon-[logos--sass]'},
	{ name: "JavaScript", icon: 'icon-[logos--javascript]'},
	{ name: "TypeScript", icon: 'icon-[logos--typescript-icon]'},
	{ name: "Pnpm", icon: 'icon-[logos--pnpm]'},
	{ name: "Node.js", icon: 'icon-[logos--nodejs-icon]'},
	{ name: "Astro", icon: 'icon-[logos--astro-icon]'},
	{ name: "Iconify", icon: 'icon-[simple-icons--iconify]'},
	{ name: "Tailwind", icon: 'icon-[logos--tailwindcss-icon]'},
	{ name: "Preact", icon: 'icon-[logos--preact]'},
	{ name: "Git", icon: 'icon-[logos--git-icon]'},
	{ name: "Github", icon: 'icon-[logos--github-icon]'},
	{ name: "Netlify", icon: 'icon-[logos--netlify-icon]'},
	{ name: "Visual Studio Code", icon: 'icon-[logos--visual-studio-code]'},
	{ name: "Chrome", icon: 'icon-[logos--chrome]'},
	{ name: "NixOS", icon: 'icon-[devicon--nixos]'},
	{ name: "Writing Docs", icon: 'icon-[logos--mdx]'},
]
---

<Layout title={title}>
	<main class="m-auto p-4">
    <h1>{ title }</h1>
    <h2>... and my new Astro site!</h2>

    <p>I am working through Astro's introductory tutorial. This is the second page on my website, and it's the first one I built myself!</p>

    <p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>

    <ul class="flex flex-wrap">
      {skills.map((skill) => <li class="badge badge-lg px-3 py-4 space-x-1 m-1"><i class={skill.icon}/><span>{skill.name}</span></li>)}
    </ul>
	</main>
</Layout>

<style>
	main {
		width: 800px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
