---
import BaseLink from "./BaseLink.astro";
const links = [
  {
    name: 'Home',
    link: ''
  },
  {
    name: 'Blog',
    link: 'blog'
  },
  {
    name: 'Tag',
    link: 'tags'
  },
  {
    name: 'About',
    link: 'about'
  }
]
---


<div>
  {links.map(({name, link})=> <BaseLink href={link} class="p-2 hover:text-pink transition inline-block">{name}</BaseLink>)}
</div>